{% extends "base.html.twig" %}

{% block title %}AppBook-Livres{% endblock %}

{% block body %}
<H1>Nos livres</H1>
    <div class="row">
        {% for book in books %}
            <article class="col-12 col-md-4 mb-2">
                <div class="card text-center h-100">
                    <div class="card-header">
                        {{ book.author.category.title }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <img src="{{ book.image }}" alt="">
                        <hr>
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{ book.shortDescription}}</p>
                            <footer class="blockquote-footer">Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                        <hr>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="small">{{ book.isbn10 }}</p>
                        <p class="small">{{ book.isbn13 }}</p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
